<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">

    <script src="/static/js/index.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>

<body>

<div class="jumbotron text-center">
    <a href="/"><img src="/static/img/homepage.png" id="home-page-button"></a>
    <div><a href="/checkout"><img src="/static/img/checkout.png" id="checkout-button"></a></div>
    <a href="/checkout">
        <div th:text="Checkout" id="cart-total"></div>
    </a>
    <h1>Payment</h1>
</div>
<div class="text-wrapper">
    <div class="row" id="payments">
        <div class="col col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="image-container"><img class="product-img coin-img" src="http://placehold.it/400x250/000/fff"
                                                  th:attr="src='/static/img/checkout.png'"
                                                  alt=""/></div>
                <div class="card-header">
                    <a class="btn btn-success btn-payment" href="/">Pay with Golden Coin</a>
                </div>
            </div>
        </div>
        <div class="col col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="image-container"><img class="product-img" src="http://placehold.it/400x250/000/fff"
                                                  th:attr="src='/static/img/creditcard.jpeg'"
                                                  alt=""/></div>
                <div class="card-header">
                    <div class="card-text">
                        <a class="btn btn-success btn-payment" href="/">Pay with Card</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="image-container"><img class="product-img craft-img" src="http://placehold.it/400x250/000/fff"
                                                  th:attr="src='/static/img/crafts.jpg'"
                                                  alt=""/></div>
                <div class="card-header">
                    <a class="btn btn-success btn-payment" href="/">Pay with Crafts</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="footer.html :: copy"></div>
</div>
</body>
</html>