body {
    background-image: url("/static/img/background.jpg");
    font-family: 'Allura', cursive;
}

button {
    border-radius: 4px;
}

.text-wrapper {
    padding-left: 10%;
    padding-right: 10%;
}

.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail img {
    margin-top: 10px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

#footer {
    margin-top: 10%;
    background: darkgrey;
    position: sticky;
    bottom: 0;
}

h1 {
    font-size: 5rem;
}

.text-center {
    padding: 1rem 1rem;
}

#product-category {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 5px;
    margin-bottom: 2%;
}

.product-img {
    display: block;
    max-width: 230px;
    max-height: 260px;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 4%;
}

.image-container {
    min-height: 280px;
}

.product-card {
    width: 485px;
}

.checkout-card {
    padding: 5%;
    font-size: 25px;
    margin: 2%;
}

.checkout-card input {
    margin: 2%;
    margin-left: 38%;
    width: 70%;
    font-family: "Century Schoolbook L";
}

.order-card {
    width: 120%;
    font-size: 25px;
}

#cart-sum {
    text-align: right;
    font-weight: bold;
}

.card-header {
    min-height: 210px;
    font-size: 1.5rem;
}

.col {
    margin-bottom: 2%;
}

.dropbtn, .btn-success {
    background-color: darkgrey;
    color: black;
    padding: 8px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}

.container {
    margin: 0;
    padding: 0;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display: block;
}

#home-page-button {
    margin: 0;
    float: left;
    height: 100px;
}

#cart-button, #checkout-button, #send-button {
    margin: 0;
    float: right;
    height: 100px;
    z-index: 0;
    position: relative;
}

#cart-total {
    margin-left: 91%;
    margin-top: 40px;
    padding: 10px;
    z-index: 100;
    position: absolute;
    float: right;
    background-color: rgba(41, 41, 61, 0.6);
    border-radius: 25px;
    color: #eeeeee;
    font-weight: bolder;
    font-size: 25px;
    min-width: 50px;
    height: 50px;
}

#quantity {
    max-width: 10%;
}

#payments {
    padding: auto;
}

.btn-payment {
    width: 100%;
    font-size: 30px;
}

.coin-img, .craft-img {
    padding-top: 10%;
}